* {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  font-family: system-ui;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
}

header img {
  height: 120px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    font-family: sans-serif;
  }
}

.wrapper {
  height: 100% !important;
  padding: 100px 0;
  background-image: radial-gradient(
      circle at 37% 80%,
      hsla(180, 0%, 7%, 0.1) 0%,
      hsla(180, 0%, 7%, 0.1) 45%,
      transparent 45%,
      transparent 73%,
      transparent 73%,
      transparent 100%
    ),
    radial-gradient(
      circle at 60% 45%,
      hsla(180, 0%, 7%, 0.1) 0%,
      hsla(180, 0%, 7%, 0.1) 67%,
      transparent 67%,
      transparent 71%,
      transparent 71%,
      transparent 100%
    ),
    radial-gradient(
      circle at 23% 84%,
      hsla(180, 0%, 7%, 0.1) 0%,
      hsla(180, 0%, 7%, 0.1) 55%,
      transparent 55%,
      transparent 97%,
      transparent 97%,
      transparent 100%
    ),
    radial-gradient(
      circle at 52% 76%,
      hsla(180, 0%, 7%, 0.1) 0%,
      hsla(180, 0%, 7%, 0.1) 37%,
      transparent 37%,
      transparent 95%,
      transparent 95%,
      transparent 100%
    ),
    radial-gradient(
      circle at 50% 81%,
      hsla(180, 0%, 7%, 0.1) 0%,
      hsla(180, 0%, 7%, 0.1) 79%,
      transparent 79%,
      transparent 85%,
      transparent 85%,
      transparent 100%
    ),
    linear-gradient(45deg, rgba(150, 40, 27, 0.9), rgba(207, 0, 15, 0.9)),
    url('/images/hero.jpg');
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-top: 1rem;
  font-weight: bold;
}

.subtitle {
  font-weight: bold;
  margin-bottom: 2rem;
}

form {
  color: black;
}

textarea {
  width: 100% !important;
  height: 20vh !important;
}

.form-label {
  color: gray;
}

@media (min-width: 769px) {
  .container {
    width: 40% !important;
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.5);
}
.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font: 14px arial;
}
